html, body {
  width: 100px;
  background-color: #137992;
  color: #cec325;
}

.hidden {
  display: none;
}

.button {
  flex: 0 1 auto;
  height: 25%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

.action:hover {
  background-color: #334c86;
}

.action {
  background-color:#162c66;
}

.reset {
  background-color: #2e374e;
}

.reset:hover {
  background-color: #1f2533;
}
